@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<br>
<h2 class="text-info">@ViewData["Title"]</h2>
<h4>Create a new account.</h4>
<hr />
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <div class="col-md-4">
            @Html.Hidden("Role")
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-7 border p-4" style="background-color:lightgoldenrodyellow; border-radius: 12px;">
            <h4 class="text-center" >Assign Access Level</h4>
            <h5>
                <div>

                    <div class="radio">
                        @Html.RadioButtonFor(m => @Model.Input.Role, "Admin")&nbsp; Admin
                        <p style="text-indent: 24px; font-size: 1rem; font-weight: normal;">Provides full access.</p>
                    </div>

                    <div class="radio">
                        @Html.RadioButtonFor(m => @Model.Input.Role, "Owner")&nbsp; Owner
                        <p style="text-indent: 24px; font-size: 1rem; font-weight: normal;">Allows access to all information except system configuration.</p>
                    </div>

                    <div class="radio">
                        @Html.RadioButtonFor(m => @Model.Input.Role, "Volunteer")&nbsp; Volunteer
                        <p style="text-indent: 24px; font-size: 1rem; font-weight: normal;">Allows access to perform basic order entry operations.</p>
                    </div>

                    <div class="radio">
                        @Html.RadioButtonFor(m => @Model.Input.Role, "DealerV")&nbsp;Validated Dealer
                        <p style="text-indent: 24px; font-size: 1rem; font-weight: normal;">Allows access to the <b>My Sales</b> feature and the newsletter. Must be a registered dealer</p>
                    </div>

                    <div class="radio">
                        @Html.RadioButtonFor(m => @Model.Input.Role, "DealerNV")&nbsp;Unvalidated Dealer
                        <p style="text-indent: 24px; font-size: 1rem; font-weight: normal;">The level of access a dealer is given when they initially sign up. Once confirmed they can access the <b>My Sales</b> feature.</p>
                    </div>
                    <div class="radio">
                        @Html.RadioButtonFor(m => @Model.Input.Role, "Customer", new { @checked= "true"}) &nbsp; Customer
                        <p style="text-indent: 24px; font-size: 1rem; font-weight: normal;">Access to store website only.</p>
                    </div>
                </div>
            </h5>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-default btn-success">Register</button>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}