@model TheCoopAntiques.Models.ViewModel.OrdersViewModel
@using TheCoopAntiques.Extensions
@{
    ViewData["Title"] = "Create";
}
<br />
<h2 class="text-info">Create Order</h2>
<br />

<form method="post" asp-action="Create">
    <div class="p-4 border rounded col-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-6">
                <label asp-for="Orders.InvoiceNumber"></label>
            </div>
            <div class="col-6">
                <input type="text" asp-for="Orders.InvoiceNumber" class="form-control" />
            </div>
            <span asp-validation-for="Orders.InvoiceNumber" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <label asp-for="Orders.OrderDate"></label>
            </div>
            <div class="col-6">
                <input type="text" asp-for="Orders.OrderDate" id="datepicker" class="form-control" value="@DateTime.Today.ToShortDateString()"/>
            </div>
            <span asp-validation-for="Orders.OrderDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <label asp-for="TransactionTypes"></label>
            </div>
            <div class="col-6">
                <select asp-for="@Model.Orders.TransactionTypeId" asp-items="@Model.TransactionTypes.ToSelectListItem(Model.Orders.TransactionTypeId)" class="form-control"></select>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-6">
                <label asp-for="Dealers"></label>
            </div>
            <div class="col-6">
                <select asp-for="@Model.Orders.DealerId" asp-items="@Model.Dealers.ToSelectListItem(Model.Orders.DealerId)" class="form-control"></select>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-6">
                <a asp-action="Index" class="btn btn-primary btn-block">Return to Orders Overview</a>
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-success btn-block" value="Create" />
            </div>
        </div>

    </div>
</form>

@section Scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(function () {
            $("#datepicker").datepicker({
                maxDate: "+1d"
            });
        });
    </script>
}


