@model TheCoopAntiques.Models.ViewModel.OrdersViewModel

@using TheCoopAntiques.Extensions
@{
    ViewData["Title"] = "Delete";
    ViewData["Controller"] = "Orders";
}
<br />
<h2 class="text-danger">Delete Order &nbsp; @Model.Orders.InvoiceNumber</h2>
<br />

<form method="post" asp-action="Delete">
    <div class="row">
        <div class="col-6">
        <div class="p-4 border rounded col-12">
            <input type="hidden" asp-for="@Model.Orders.Id" />
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="Orders.InvoiceNumber"></label>
                </div>
                <div class="col-6">
                    <input type="text" asp-for="Orders.InvoiceNumber" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="Orders.OrderDate"></label>
                </div>
                <div class="col-6">
                    <input type="text" asp-for="Orders.OrderDate" readonly class="form-control" asp-format="{0:MM/dd/yy}" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="TransactionTypes"></label>
                </div>
                <div class="col-6">
                    <input type="text" asp-for="Orders.TransactionTypes.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="Dealers"></label>
                </div>
                <div class="col-6">
                    <input type="text" asp-for="Orders.Dealers.Name" readonly class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="col-6">
            <a asp-action="Index" class="btn btn-primary btn-block">Return to Orders Overview</a>
            <a asp-action="Edit" class="btn btn-success btn-block" asp-route-id="@Model.Orders.Id">Edit</a>
            <a asp-action="Delete" class="btn btn-danger btn-block" asp-route-id="@Model.Orders.Id">Delete</a>
        </div>
    </div>
    </div>
</form>
<br />
<br />
<p class="text-center">
    <span class="p-3 alert alert-danger">
        <i class="fas fa-exclamation-triangle fa-lg" size="3">&nbsp;</i>
        You are about to delete this order and all the items associated with it. Click "Delete" to proceed.
        <i class="fas fa-exclamation-triangle fa-lg" size="3">&nbsp;</i>
    </span>
</p>

<partial name="_ItemDetailsPartial" model="@Model" />