@model TheCoopAntiques.Models.ViewModel.OrdersViewModel

@using TheCoopAntiques.Extensions
@{
    ViewData["Title"] = "Edit";
    ViewData["Controller"] = "Orders";
}
<br />
<h2 class="text-info">Edit Order &nbsp; @Model.Orders.InvoiceNumber</h2>
<br />

<form method="post" asp-action="Edit">
    <div class="row">
        <div class="col-6">
            <div class="p-4 border rounded col-12">
                <input type="hidden" asp-for="@Model.Orders.Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Orders.InvoiceNumber"></label>
                    </div>
                    <div class="col-6">
                        <input type="text" asp-for="Orders.InvoiceNumber" class="form-control" />
                    </div>
                    <span asp-validation-for="Orders.InvoiceNumber" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Orders.OrderDate"></label>
                    </div>
                    <div class="col-6">
                        <input type="text" asp-for="Orders.OrderDate" id="datepicker" class="form-control" asp-format="{0:MM/dd/yy}" />
                    </div>
                    <span asp-validation-for="Orders.OrderDate" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="TransactionTypes"></label>
                    </div>
                    <div class="col-6">
                        <select asp-for="@Model.Orders.TransactionTypeId" asp-items="@Model.TransactionTypes.ToSelectListItem(Model.Orders.TransactionTypeId)" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label asp-for="Dealers"></label>
                    </div>
                    <div class="col-6">
                        <select asp-for="@Model.Orders.DealerId" asp-items="@Model.Dealers.ToSelectListItem(Model.Orders.DealerId)" class="form-control"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-6">
                <a asp-action="Index" class="btn btn-primary btn-block">Return to Orders Overview</a>
                <input type="submit" class="btn btn-success btn-block" asp-route-id="@Model.Orders.Id" value="Update" />
                <a asp-action="Delete" class="btn btn-danger btn-block" asp-route-id="@Model.Orders.Id">Delete</a>
            </div>
        </div>

    </div>
</form>

<br />

<div class="offset-10 text-right">
    <a asp-action="Create" asp-controller="Items" class="btn btn-info" asp-route-orderId="@Model.Orders.Id">
        <i class="fas fa-plus"></i>&nbsp;Add Item
    </a>
</div>

<partial name="_ItemDetailsPartial" model="@Model" view-data="ViewData" />



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(function () {
            $("#datepicker").datepicker({
                maxDate: "+1d"
            });
        });
    </script>
}

