@model IEnumerable<TheCoopAntiques.Models.TransactionTypes>
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <div class="col-4">
        <h2 class="text-info">Transaction Types</h2>
    </div>
    <div class="col-5 text-right">
        <a asp-action="Create" class="btn btn-info">
            <i class="fas fa-plus"></i>&nbsp; Add Transaction Type
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-9">
        <table class="table table-striped border table-hover">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(t => t.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(t => t.Description)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(t => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(t => item.Description)
                    </td>
                    <td>
                        @if (item.Disabled)
                        {
                            <span class="badge badge-danger">DISABLED</span>
                        }
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="@item.Id" />
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-3 text-center">
        <img src="~/images/CashRegister.jpg" />
    </div>
</div>