@model IEnumerable<TheCoopAntiques.Models.Items>
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <div class="col-12">
        <h2 class="text-info">Dealer Sales For @ViewBag.DealerName</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-9">
        <table class="table table-striped border table-hover">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(i => i.Orders.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(i => i.Orders.InvoiceNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(i => i.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(i => i.Amount)
                    @{ decimal total = 0M;}
                </th>
                <th class="text-right">
                    Type of Sale
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(i => item.Orders.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Orders.InvoiceNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Description)
                    </td>
                    <td class="text-right">
                        @String.Format("{0:c}", item.Amount)
                        @{ total += item.Amount;}
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(i => item.Orders.TransactionTypes.Name)
                    </td>
                </tr>
            }
                <tr style="background-color:cornsilk">
                    <td></td>
                    <td></td>
                    <td class="text-right">
                        Total:
                    </td>
                    <td class="text-right" style="font-weight: bold">
                        @total.ToString("c")
                    </td>
                    <td></td>
                </tr>
        </table>
    </div>
</div>