@model IEnumerable<TheCoopAntiques.Models.Periods>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-10">
        <h2 class="text-info">Period Adjustment</h2>
        @if (ViewBag.Count == 0)
        {
            <h4 style="color: red">There are currently no active periods.</h4>
        }
    </div>
    <div class="col-2 text-right">
        <a asp-action="Create" class="btn btn-info">
            <i class="far fa-clock"></i>&nbsp; Create Period
        </a>
    </div>
</div>
<br />
<div class="row">
    <table class="table table-striped table-hover border">
        <tr class="table-info">
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(p => p.Name)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.PeriodType)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.EndDate)
            </th>
            <th>
                Identifier
            </th>
            <th>

            </th>
            <th></th>
        </tr>
        @{}
        @foreach (var item in Model)
        {
            if (item.IsCurrent)
            {
                <tr style="background-color: lightgreen;">
                    <td style="width: 20px;"></td>
                    <td>
                        @Html.DisplayFor(d => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.PeriodType)
                    <td>
                        @Html.DisplayFor(d => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.NumericPeriod)
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        <a asp-action="SetPeriod" class="btn btn-warning" asp-route-id="@item.Id">
                            <i class="fas fa-bolt"></i>
                        </a>
                    <td>
                        @Html.DisplayFor(d => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.PeriodType)
                    <td>
                        @Html.DisplayFor(d => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.NumericPeriod)
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
            }
        }

    </table>
</div>
