@model IEnumerable<TheCoopAntiques.Models.Periods>
@{
    ViewData["Title"] = "Index";

}
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Period Adjustment</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">
            <i class="far fa-clock"></i>&nbsp; Create Period
        </a>
    </div>
</div>
<br />
<div class="row">
    <table class="table table-striped table-hover border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(p=> p.PeriodName)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.PeriodType)
            </th>
            <th>
                @Html.DisplayNameFor(p => p.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(p=> p.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(p=> p.MonthInt)
            </th>
            <th>
                @Html.DisplayNameFor(p=> p.YearInt)
            </th>
            <th>

            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(d => item.PeriodName)
                </td>
                <td>
                    @Html.DisplayFor(d => item.PeriodType)
                <td>
                    @Html.DisplayFor(d => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(d => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(d => item.MonthInt)
                </td>
                <td>
                    @Html.DisplayFor(d => item.YearInt)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>
        }

    </table>
</div>